@model IPC.ViewModels.RedBoxLayoutViewModel
@{ Layout = "_RedBoxLayout";


}
<!DOCTYPE html>
<html>

<head>

    <link rel="stylesheet" href="~/css/FamilyHistory.css" />

</head>
<body>

    <h2>Family History</h2>
    <table align="center" border="1">
        <tr class="style3">
            <td class="style4"></td>
            <td><Label><b>Yes</b> </Label> </td>
            <td><Label><b>Father</b> </Label></td>
            <td><Label><b>Mother</b> </Label></td>
            <td><Label><b>Sibling</b> </Label></td>
        </tr>
        <tr>
            <td class="style1">
                <label> <b> Diabates </b></label>
            </td>
            <td class="style3">
                <input type="checkbox" id="diab" name="check1">
            </td>
            <td class="style3">
                <input type="checkbox" id="diab" name="check2">
            </td>
            <td class="style3">
                <input type="checkbox" id="diab" name="check3">
            </td>
            <td class="style3">
                <input type=checkbox" id="diab" name="check4">
            </td>
        </tr>
        <tr>
            <td class="style1">
                <label> <b> Hypertension </b></label>
            </td>
            <td class="style3">
                <input type="checkbox" id="Hypertension" name="check5">
            </td>
            <td class="style3">
                <input type="checkbox" id="Hypertension" name="check6">
            </td>
            <td class="style3">
                <input type="checkbox" id="Hypertension" name="check7">
            </td>
            <td class="style3">
                <input type="checkbox" id="Hypertension" name="check8">
            </td>
        </tr>
        <tr>
            <td class="style1">
                <label> <b> MI </b></label>
            </td>
            <td class="style3">
                <input type="checkbox" id="MI" name="check9">
            </td>
            <td class="style3">
                <input type="checkbox" id="MI" name="check10">
            </td>
            <td class="style3">
                <input type="checkbox" id="MI" name="check11">
            </td>
            <td class="style3">
                <input type="checkbox" id="MI" name="check12">
            </td>
        </tr>
        <tr>
            <td class="style1">
                <label> <b> Stroke </b></label>
            </td>
            <td class="style3">
                <input typecheckboxo" id="stroke" name="check13">
            </td>
            <td class="style3">
                <input type="checkbox" id="stroke" name="check14">
            </td>
            <td class="style3">
                <input type="checkbox" id="stroke" name="check15">
            </td>
            <td class="style3">
                <input type="checkbox" id="stroke" name="check16">
            </td>
        </tr>
        <tr>
            <td class="style1">
                <label> <b> Hepatitis </b></label>
            </td>
            <td class="style3">
                <input type="checkbox" id="hepatits" name="check17">
            </td>
            <td class="style3">
                <input type="checkbox" id="hepatits" name="check18">
            </td>
            <td class="style3">
                <input type="checkbox" id="hepatits" name="check19">
            </td>
            <td class="style3">
                <input type="checkbox" id="hepatits" name="check20">
            </td>
        </tr>
        <tr>
            <td class="style1">
                <label> <b> Kidney Stones </b></label>
            </td>
            <td class="style3">
                <input type="checkbox" id="stones" name="check21">
            </td>
            <td class="style3">
                <input type="checkbox" id="stones" name="check22">
            </td>
            <td class="style3">
                <input type="checkbox" id="stones" name="check23">
            </td>
            <td class="style3">
                <input type="checkbox" id="stones" name="check24">
            </td>
        </tr>
        <tr>
            <td class="style1">
                <label> <b> Lung Disease </b></label>
            </td>
            <td class="style3">
                <input type="checkbox" id="lung" name="check25">
            </td>
            <td class="style3">
                <input type="checkbox" id="lung" name="check26">
            </td>
            <td class="style3">
                <input type="checkbox" id="lung" name="check27">
            </td>
            <td class="style3">
                <input type="checkbox" id="lung" name="check28">
            </td>
        </tr>
        <tr>
            <td class="style1">
                <label> <b> Kidney Disease </b></label>
            </td>
            <td class="style3">
                <input type="checkbox" id="kidney" name="check29">
            </td>
            <td class="style3">
                <input type="checkbox" id="kidney" name="check30">
            </td>
            <td class="style3">
                <input type="checkbox" id="kidney" name="check31">
            </td>
            <td class="style3">
                <input type="radio" id="kidney" name="check32">
            </td>
        </tr>
        <tr>
            <td class="style1">
                <label> <b> Prostate Cancer </b></label>
            </td>
            <td class="style3">
                <input type="checkbox" id="proscancer" name="check33">
            </td>
            <td class="style3">
                <input type="checkbox" id="proscancer" name="check34">
            </td>
            <td class="style3">
                <input type="checkbox" id="proscancer" name="check35">
            </td>
            <td class="style3">
                <input type="checkbox" id="proscancer" name="check36">
            </td>
        </tr>
        <tr>
            <td class="style1">
                <label> <b> Cancer </b></label>
            </td>
            <td class="style3">
                <input type="checkbox" id="cancer" name="check37">
            </td>
            <td class="style3">
                <input type="checkbox" id="cancer" name="check38">
            </td>
            <td class="style3">
                <input type="checkbox" id="cancer" name="check39">
            </td>
            <td class="style3">
                <input type="checkbox" id="cancer" name="check40">
            </td>
        </tr>
    </table>
    <br><br>

    <div class="btn-pill">
        <input type="submit" class="btn btn-pill text-white btn-block btn-primary" style="background-color:#1520A6; width:100px; margin:auto" OnClick="btnSubmit_Click" value="Submit">
    </div>
</body>
</html>

