@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <!-- Style -->
    <link rel="stylesheet" href="~/css/LoginStyles.css">

    <title>Login #9</title>
</head>
<body>

    <img class="bg-image" src="~/Images/hospital.jpg" />

    <div class="content">
        <div class="container">
            <div class="row justify-content-center">
                <!-- <div class="col-md-6 order-md-2">
                  <img src="images/undraw_file_sync_ot38.svg" alt="Image" class="img-fluid">
                </div> -->
                <div class="col-md-6 contents">
                    <div class="row justify-content-center">
                        <div class="col-md-12">
                            <div class="form-block">
                                <div class="mb-4">
                                    <h3 style="color:blue"><center> <strong>Intelligent Patient Care System</strong></center></h3>
                                    <p class="mb-4"><center>Welcome to the IPC</center></p>
                                </div>




                                <a style="text-decoration:none" asp-controller="Account" asp-action="login" class="nav-link text-light"><input type="submit" value="Log In" class="btn btn-pill text-white btn-block btn-primary" style="background-color:#1520A6;" id="submit-btn"></a>





                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>


</body>
</html>